.sidebar .card-title {
  font-size: 1.25rem;
}

.sidebar svg {
  width: 20px;
  height: auto;
}

.sidebar a {
  text-decoration: none;
}

// .author-social-links {
//     ul {
//       display: inline-flex;
  
//       li {
//         margin: auto 7px;
  
//         a {
//           transition: all 0.1s ease-out;
//           color: $brown;
//         }
//       }
//     }
//   }